 <!-- Sidebar -->
 <ul #sidebarItem class="navbar-nav bg-navbar sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/home">
    <div class="sidebar-brand-icon " *ngIf="!toggled">
      <img class="logo-size" src= "assets/img/Bee-horizontal-black.png">
    </div>
    <div class="sidebar-brand-icon " *ngIf="toggled">
      <img class="logo-size2" src= "assets/img/Bee-horizontal-black(2).png">
    </div>
   <!-- <div class="sidebar-brand-text mx-3">Bee Seller</div> -->
  </a>
  <p *ngIf="!toggled" class="sidebar-drop">Dropshipping</p>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item ">
    <a class="nav-link"
    routerLink="/home/dashboard"
    routerLinkActive="active"
    *ngIf="sidebarService.hashRoles(['ROLE_ADMIN', 'ROLE_SELLER'])"
    >
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span [hidden]="toggled" class="ml-2">Tablero de control</span></a>
  </li>
  <hr class="sidebar-divider my-0">

  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link collapsed" href="#"  data-toggle="collapse" [attr.data-target]="'#test'+1" aria-expanded="true" [attr.aria-controls]="'test'+1">
      <i [class]="sidebarService.configuracionMenu.icon"></i>
      <span [hidden]="toggled" class="ml-2">{{ sidebarService.configuracionMenu.title }}</span>
    </a>
    <div  [id]="'test1'" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6  class="collapse-header">{{ sidebarService.configuracionMenu.subtitle }}</h6>
        <div *ngFor="let subitem of sidebarService.configuracionMenu.submenu" >

          <a class="collapse-item" *ngIf="sidebarService.hashRoles(subitem.roles)" [routerLink]="subitem.url" >
            {{ subitem.title }}
          </a>
        </div>

      </div>
    </div>
  </li>
  <hr class="sidebar-divider my-0">
 
  <li class="nav-item ">
    <a class="nav-link"
    routerLink="/home/store"
    routerLinkActive="active"
    *ngIf="sidebarService.hashRoles(['ROLE_ADMIN', 'ROLE_SELLER', 'ROLE_INVITED'])"
    >
      <i class="fas fa-warehouse"></i>
      <span [hidden]="toggled" class="ml-2">Almacén Bee Seller</span></a>
  </li>
  <hr class="sidebar-divider my-0">


  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link collapsed" href="#"  data-toggle="collapse" [attr.data-target]="'#test'+2" aria-expanded="true" [attr.aria-controls]="'test'+2">
      <i [class]="sidebarService.misproductosMenu.icon"></i>
      <span [hidden]="toggled" class="ml-2">{{ sidebarService.misproductosMenu.title }}</span>
    </a>
    <div  [id]="'test2'" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6  class="collapse-header">{{ sidebarService.misproductosMenu.subtitle }}</h6>
        <div *ngFor="let subitem of sidebarService.misproductosMenu.submenu" >

          <a class="collapse-item" *ngIf="sidebarService.hashRoles(subitem.roles)" [routerLink]="subitem.url" >
            {{ subitem.title }}
          </a>
        </div>

      </div>
    </div>
  </li>
  <hr class="sidebar-divider my-0">

  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link collapsed" href="#"  data-toggle="collapse" [attr.data-target]="'#test'+3" aria-expanded="true" [attr.aria-controls]="'test'+3">
      <i [class]="sidebarService.ventas.icon"></i>
      <span [hidden]="toggled" class="ml-2">{{ sidebarService.ventas.title }}</span>
    </a>
    <div  [id]="'test3'" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6  class="collapse-header">{{ sidebarService.ventas.subtitle }}</h6>
        <div *ngFor="let subitem of sidebarService.ventas.submenu" >

          <a class="collapse-item" *ngIf="sidebarService.hashRoles(subitem.roles)" [routerLink]="subitem.url" >
            {{ subitem.title }}
          </a>
        </div>

      </div>
    </div>
  </li>
  <hr class="sidebar-divider my-0">

  <!-- Sidebar Toggler (Sidebar) -->
  <div  class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0 mt-4" id="sidebarToggle" (click)="toggled=!toggled"></button>
  </div>

</ul>
<!-- End of Sidebar -->
