<div class="card border-left-info shadow h-100 py-2">
  <div class="card-body">
    <div class="row no-gutters align-items-center">
      <div class="col mr-2 animated--grow-in">
        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
          Stock de productos 
        </div>
        <div class="row no-gutters align-items-center">
          <div class="col-auto">
            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
              {{ withStock }}
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
  </div>
</div>
